/*Global Selector*/
* {
  margin: 0;
  padding: 0;
}

*, *:focus, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #797d83;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#userInput {
  width: 30vw;
  height: 12vh;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: #99A597;
}

#userInput:focus {
  border: 4px solid #727E70;
}

/*Converter elements */
.container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.convertContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #6A625C;
  width: 60vw;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.convertContainer > h2 {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  margin: 0.5rem;
  font-size: 2rem;
}

.convertWhat {
  display: flex;
  margin: 0.5rem;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.convertWhat input {
  margin: 0 0.5rem;
}

/*Pounds Card */
.kilometerCard {
  width: 30vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 5px;
  background-color: #3E4146;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}